html,
body {
  position: relative;
  max-width: 1440px;
  height: 1500px;
  left: 0px;
  top: 0px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin: auto;
}
.main-content {
  background: #ed4c5c;
  color: #ffffff;
  height: 33.3333%;
  width: 100%;
}

.main-title {
  font-size: 2.6rem;
  font-weight: 600;
  position: absolute;
  left: 165px;
  top: 120px;
  width: 445px;
  height: 110px;
}

.text {
  position: absolute;
  font-size: 1rem;
  line-height: 140%;
  width: 445px;
  height: 65px;
  left: 165px;
  top: 250px;
}

.app-download-icon {
  position: absolute;
  width: 135px;
  height: 30px;
  left: 160px;
  top: 360px;
  cursor: pointer;
}

.slider {
  position: absolute;
  width: 535px;
  height: 310px;
  left: 690px;
  top: 95px;
  cursor: pointer;
}

.contact-container {
  height: 33.3333%;
  width: 100%;
  background: white;
}

.title-contact {
  position: absolute;
  font-size: 2.6rem;
  font-weight: 600;
  width: 445px;
  height: 110px;
  left: 175px;
  top: 620px;
  line-height: 45px;
}

.questions {
  position: absolute;
  width: 435px;
  height: 65px;
  margin-left: 175px;
  top: 715px;
  font-size: 1rem;
  line-height: 140%;
  text-align: justify;
}

input,
select,
button {
  border: 1px solid #333333;
  border-radius: 6px;
  font-size: 1.15rem;
  line-height: 19px;
  color: rgba(19, 39, 67, 0.5);
  cursor: pointer;
}

.first-name {
  position: absolute;
  width: 255px;
  height: 60px;
  left: 735px;
  top: 617px;
  padding-left: 20px;
}

.last-name {
  position: absolute;
  width: 255px;
  height: 60px;
  left: 1020px;
  top: 617px;
  padding-left: 20px;
}

.tel {
  position: absolute;
  width: 540px;
  height: 60px;
  left: 735px;
  top: 701px;
  padding-left: 20px;
}

.service {
  position: absolute;
  width: 565px;
  height: 60px;
  left: 735px;
  top: 785px;
  padding-left: 20px;
}

button {
  position: absolute;
  width: 160px;
  height: 50px;
  left: 735px;
  top: 872px;
  background: #ed4c5c;
  border: 1.5px solid #ed4c5c;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-content {
  height: 33.3333%;
  width: 100%;
  background: #fafafa;
  font-family: Lato;
  font-style: normal;
}

.address {
  position: absolute;
  width: 65px;
  height: 22px;
  left: 166px;
  top: 1130px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #101010;
}

.address-text {
  position: absolute;
  width: 200px;
  height: 55px;
  left: 165px;
  top: 1185px;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #101010;
}

.services {
  position: absolute;
  width: 70px;
  height: 22px;
  left: 450px;
  top: 1130px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #101010;
}

.services-text {
  position: absolute;
  width: 255px;
  height: 115px;
  left: 450px;
  top: 1180px;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-transform: capitalize;
  color: #000000;
}

.get {
  position: absolute;
  width: 100px;
  height: 22px;
  left: 735px;
  top: 1130px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #101010;
}

.get-mail {
  position: absolute;
  width: 122px;
  height: 14px;
  left: 735px;
  top: 1185px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #101010;
}

.get-tel {
  position: absolute;
  width: 96px;
  height: 14px;
  left: 735px;
  top: 1210px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #121212;
}
.icon-facebook {
  position: absolute;
  left: 735px;
  top: 1250px;
  cursor: pointer;
}

.icon-linkedin {
  position: absolute;
  left: 760px;
  top: 1250px;
  cursor: pointer;
}

.icon-twitter {
  position: absolute;
  left: 790px;
  top: 1250px;
  cursor: pointer;
}

.support {
  position: absolute;
  width: 100px;
  height: 22px;
  left: 1020px;
  top: 1130px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #101010;
}

.pay-service {
  position: absolute;
  width: 215px;
  height: 30px;
  left: 1030px;
  top: 1185px;
}

.copyright {
  position: absolute;
  width: 155px;
  height: 14px;
  left: 161px;
  top: 1380px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #101010;
}
