body{
  background-color: rgb(49, 54, 54);
  font-family: sans-serif;
  color: white;
  
}
table{
font-family: sans-serif;
font-size: 14px;
text-align: left;
width: 800px;
height: 180px;
border: 1px solid rgb(160, 158, 158);
border-spacing: 0;
border-radius: 7px 7px 7px 7px;
margin: auto;
margin-top: 50px;
margin-left: 100px

}

th {
padding: 9px 9px;
}

td {
border-top: 1px solid rgb(160, 158, 158);
padding: 8px;

}
.dots_table1{
  text-align: right;
  padding-right: 30px;
  color: rgb(160, 158, 158);
  
}
.triangle {
  display: inline;
  position: relative;
  margin-left: 14px;
	top: 11px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid white;
}
.colomn2_table{
  color: rgb(160, 158, 158);
}
.dots_table2_3{
  text-align: right;
  padding-right: 30px;
  color: white
}
label, img,  .triangle, .dots_table1, .dots_table2_3{
  cursor: pointer;
}
.checkbox {
  cursor: pointer;
 
}

img{
  width: 15px;
  margin-right: 5px;
}